@model DistributionUpdateToolWeb.ViewModels.ClientViewModel
@{ 
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Client.Name</h2>

<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th scope="col">Client Distribution</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var email in Model.EmailAddresses)
        {
            <tr>
                <td>@email.Email</td>
            </tr>
        }
    </tbody>

</table>

